# Open Configuration files
alias newmac="code ~/Projects/new-mac"
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"

# Ease of use
alias python='/usr/bin/python3'
alias pip='/usr/local/bin/python3 -m pip'
alias flco='flutter create --offline'
alias flc='flutter create'

# Wholesome Terminal Experience
alias please='sudo'
alias yeet='rm'

# Ez
alias rmr='rm -rf'

# Others
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='clear'
alias wget='wget -c'

# Git Stuff
alias qgra='git remote add'
alias qgpa='git push archive'
alias qgpo='git push origin'
alias qgraa='gra archive'
alias qgpu='git push upstream'
alias qgrau='gra upstream'
alias qgfd='git fetch .'
